.body {
    background-color: #F5F5F5;
    width: 100%;
}
.menu {
    position: fixed;
    top: 0;  
    bottom: 500px;
    border-left-style: 0;  
    background-color: #202846;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.menu-style {
    text-align: center;
    background-image: url('./img/photo_2021-09-21_13-25-38\ 2.png');
    background-repeat: no-repeat;
    position: static;
    margin-left: 130px;
    top: 15px;
        
}
.ok {
    white-space: pre;
    vertical-align: middle;
}
.text-menu {
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 25px;
    position: relative;
    bottom: 10px;
    margin-left: 95px;   
    
}
.house {
    background-color: #C6C6DC;
    width: 100%;
    height: 200px;
    
}
.house-text {
    color: #202846;
    font-size: 48px;
    position: relative;
    left: 230px;
    top: 90px;
}
.place {
    
    background-color: #E8E8E8;
    width: 1500px;
    height: 70px;
    margin-left: 250px;
   
}
.place-text {
    padding-top: 15px;
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.61);
}
.svg {
     position: relative;
     left: 550px;
     top: 5px;
}
.section1 {
    width: 100%;
    margin-bottom: 100px;
}
.card {
    background-color: #BDBDC6;
    width: 1500px;
    height: 320px;
    margin-left: 250px; 
    
}
.card-head {
    font-size: 36px;
    color: #353C57;
    position: relative;
    left: 600px;
    border-bottom: 3px solid #FFFFFF;
    width: 715px;    
    
}
.card-text {
    color: #202846;
    font-size: 22px;
    text-align: center;
    position: relative;
    left: 600px;    
    background-color: #D7D7DD;
    width: 655px;
    height: 130px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.back1 {
    background-image: url('./img/image\ 5.png');
    background-repeat: no-repeat;
    position: relative;
    left: 100px;
    top: 30px;
}

.more {
    background-color: #202846;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    left: 1250px;
    bottom: 60px;
}
.star1 {
    position: relative;
    left: 410px;
}
.star2 {
    position: relative;
    left: 338px;
}
.star3 {
    position: relative;
    left: 395px;
}
.path {
    fill: white;
}
.card:hover {
    background-color: #AEAEE2;
}
.card:hover .path {
    fill: yellow;
}

.card:hover .more {
    background-color: #EF075B;
}
.back2 {
    background-image: url('./img/image\ 4.png');
    background-repeat: no-repeat;
    position: relative;
    left: 100px;
    top: 30px;
}
.back3 {
    background-image: url('./img/image\ 6.png');
    background-repeat: no-repeat;
    position: relative;
    left: 100px;
    top: 30px;
}
.back4 {
    background-image: url('./img/image\ 7.png');
    background-repeat: no-repeat;
    position: relative;
    left: 100px;
    top: 30px;

}
.svg2 {
    position: fixed;

    left: 1850px;
    bottom: 400px;
}

.kab {
    background-color: #BDBDC6;
    width: 1320px;
    height: 500px;
    margin-top: 30px;
    margin-left: 320px;    
    
}

.avatar {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    background-color: #69749B;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-left: 160px;
    
} 
.img-kab {
    padding-left: 170px;
    padding-top: 75px;
}
.set {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    background-color: #484A54;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-left: 160px;
}
.dani {
    position: relative;
    left: 500px;
    bottom: 350px;
    
    width: 700px;
}
.dani-text {
    font-size: 36px;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
}
.dani-text-post {
font-size: 36px;
color: #353C57;
}
.a {
    text-decoration: none;
}
.enter {
    color: #FFFFFF;
    background-color: #202846;
    width: 250px;
    border-radius: 50px;
    height: 60px;
    font-size: 27px;
    text-align: center;
    margin-left: 900px;
    padding-top: 20px;
}
.section2 {
    width: 100%;
}


.contacts-text {
    
    font-size: 32px;
    color: #000000;
    
    width: 300px;
    list-style-type: none;
    }
.box {
        width: 2000px;
        display: flex;
        justify-content: space-around;
    }
 